{% extends "base.html.twig" %} {% block title %}Accueil{% endblock %} {% block body %}
<div class="notOnPhone">
  <div class="notPhoneContent">
    <div class="textNoPhone">
      <p class="noPhoneMessage">Merci de consulter ce site sur smartphone</p>
    </div>

        <div class="textNoPhone">
          <a href="https://github.com/xF1owx"><img src="{{ asset('images/site/logos/github-logo.png') }}"  class="link-logo img-fluid" id="githublogo" onmouseover="" style="cursor: pointer"></a>
          <a href="https://fr.linkedin.com/in/florian-rouillier-383354ab"><img src="{{ asset('images/site/logos/linked-in-logo.png') }}" class="link-logo img-fluid" id="linkedinlogo" onmouseover="" style="cursor: pointer"></a>
          <a href="https://www.facebook.com/florian.rouillier.5"><img src="{{ asset('images/site/logos/fb-logo.png') }}" class="link-logo img-fluid" id="fblogo" onmouseover="" style="cursor: pointer"></a>
        
        </div>
  </div>
</div>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img src="{{ asset('images/site/logos/logoFR.svg') }}" class="site-logo" height="40%" width="40%">
  </a>
</nav>
<div class="container">
  <p id="listener-go" value="0"></p>
  <h1 class="myName"> Florian Rouillier </h1>

  <div class="row centerz">
    <div class="col-10 short-desc">
      <p id="fetchDescriptionAccueil">
        {# INSERER ICI LA SHORT DESC DE LA BDD #}

      </p>

    </div>
  </div>
</div>

{# MENU ET CONTENU #} 
{# Fleche ouverture menu #}
  <img src="{{ asset('images/site/arrowleft.svg') }}" id="open-menu" class="open-menu" height="5%" width="5%" onmouseover=""
  style="cursor: pointer"> 
  {# Fleche ouverture menu #} 
 


{# OUVERTURE TOTALITE DU MENU #}
<div id="menu-layer" class="menu-layer">


  <div class="onglet-border">
    {# Fleche fermeture menu #}
    <div class="nom-slot">
      <img src="{{ asset('images/site/arrowright.png') }}" id="close-menu" class="close-menu" height="3%" width="5%" onmouseover=""
        style="cursor: pointer"> {# Fleche fermeture menu #}
    </div>
  </div>



  {# Couche CV #}
  <div class="cv-layer" id="cv-layer">
    {# BORD ONGLET CV #}
    <div class="onglet-border" id="onglet-cv" onmouseover="" style="cursor: pointer">
      <img src="{{ asset('images/site/arrowleft.svg') }}" id="open-cv" class="open-cv" height="5%" width="5%">
      <img src="{{ asset('images/site/arrowright.svg') }}" id="close-cv" class="close-cv" height="5%" width="5%">
        <div class="nom-slot">
          <p class="slot-text"> CV </p>
        </div>
      <img src="{{ asset('images/site/arrowright.svg') }}" id="close-cv-2" class="close-cv-2" height="5%" width="5%">
      <img src="{{ asset('images/site/arrowleft.svg') }}" id="open-cv-2" class="open-cv-2" height="5%" width="5%">
    </div>
    {# BORD ONGLET CV #}

    {# CONTENU DE L ONGLET CV #}
    <div class="layer-content container">
      {# {{ asset('images/site/CV.pdf') }} #}
      <div class="row ">
        <div class="col-12 tacenterz ">
          <h2> Mon CV </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 cadre-cv">
          <img src="{{ asset('images/site/sortie.png') }} " width="100%" height="100%" align="middle" class="iframe-cv img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-12 centerz">
          <a href="assets/images/site/CV.pdf" download="CV">
            <button class="boutonDL btn btn-outline-success">Telecharger</button>
          </a>
        </div>
      </div>
    </div>
    {# FIN CONTENU DE L ONGLET CV #}
  </div>
  {# FIN Couche CV #} 
  
  
  {# Couche CONTACT #}
  <div class="contact-layer" id="contact-layer" onmouseover="" style="cursor: pointer">

    {# BORD ONGLET CONTACT #}
    <div class="onglet-border" id="onglet-contact">
        <img src="{{ asset('images/site/arrowleft.svg') }}" id="open-contact" class="open-contact" height="5%" width="5%">
        <img src="{{ asset('images/site/arrowright.svg') }}" id="close-contact" class="close-contact" height="5%" width="5%">
            <div class="nom-slot">
              <p class="slot-text"> CONTACT </p>
            </div>
        <img src="{{ asset('images/site/arrowright.svg') }}" id="close-contact-2" class="close-contact-2" height="5%" width="5%">
        <img src="{{ asset('images/site/arrowleft.svg') }}" id="open-contact-2" class="open-contact-2" height="5%" width="5%">
    </div>
    {# FIN BORD ONGLET CONTACT #}

    {# CONTENU PAGE CONTACT #}
    <div class="layer-content container">
      <div class="row ">
        <div class="col-12 tacenterz ">
          <h2> Pour me contacter </h2>
        </div>
      </div>

      <div class="row mailaddress contactrow">

        <div class="col-4 Image">
          <img src="{{ asset('images/site/logos/gmail-logo.png') }}" class="logogmail img-fluid" height="100%" width="100%">
        </div>
        <div class="col-8 Contenu tacenter">
          <p id="fetch-adress-mail"> </p>
        </div>

      </div>
      <div class="row telephone contactrow ">

        <div class="col-4 Image">
          <img src="{{ asset('images/site/logos/phonelogo.png') }}" class="logophone img-fluid" height="100%" width="100%">
        </div>
        <div class="col-8 Contenu tacenter">
          <p id="fetch-telephone"></p>
        </div>

      </div>
      <div class="row facebook contactrow centered">

        <div class="col-4 Image">
          <img src="{{ asset('images/site/logos/fb-logo.png') }}" class="logofb img-fluid" height="100%" width="100%">
        </div>
        <div class="col-8 Contenu tacenter">
          <p id="fetch-facebook"></p>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <p id="fetch-text-contact" class="smalltextcontact"> </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 centerz">
          <button class=" btn btn-outline-success" id="showcontactform" type="submit">Formulaire de contact</button>
        </div>
      </div>





      {# FORMULAIRE DE CONTACT #}
      <div id="contact-form-layer" class="contact-form-layer">
        <img src="{{ asset('images/site/arrowdown.png') }}" id="close-contactform" class="close-contactform" height="4%" width="5%">

        <div class="container">
          <form id="formmail" action="">
            <div class="row ">
              <div class="col-12 tacenterz ">
                <h2> Formulaire de contact </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <input type="text" required="true" name="name" id="name" class=" ifc" placeholder="Nom">
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <input type="email"  name="email" id="email" class=" ifc" placeholder="Votre@Mail">
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <textarea type="textarea" name="message"rows="6" cols="30" id="message" class=" ifc" placeholder="Votre Message"></textarea>
              </div>
            </div>
          </form>
          <div class="row ">
            <div class="col-12 centerz">

              <input id="submitmail" type="submit" value="Envoi" class="ifc btn" name="envoi">

            </div>



            <div class="col-12 centerz"> <p id="errormail" > </p> </div>
             <div class="col-12 centerz"> <p id="confirm" > </p> </div>
          </div>




        </div>



      </div>
      {# FIN FORMULAIRE DE CONTACT #}
    </div>
    {# FIN CONTENU DE PAGE  CONTACT #}

  </div>
  {# FIN Couche CONTACT #} 
  
  
  
  {# Couche PROJECTS #}
  <div class="projects-layer" id="projects-layer" onmouseover="" style="cursor: pointer">
    <div class="onglet-border" id="onglet-projects">
      <img src="{{ asset('images/site/arrowleft.svg') }}" id="open-projects" class="open-projects" height="5%" width="5%">
      <img src="{{ asset('images/site/arrowright.svg') }}" id="close-projects" class="close-projects" height="5%" width="5%">
      <div class="nom-slot">
        <p class="slot-text"> PROJETS </p>
      </div>
      <img src="{{ asset('images/site/arrowright.svg') }}" id="close-projects-2" class="close-projects-2" height="5%" width="5%">
      <img src="{{ asset('images/site/arrowleft.svg') }}" id="open-projects-2" class="open-projects-2" height="5%" width="5%">
    </div>

    <div class="layer-content container">
      <div class="row">
        <div class="col-12 tacenterz">
          <h2> Projets </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12">

          <div id="fetchbar" class="input-group">
          
            <select class="custom-select" id="inputGroupSelect04">
              
               <option selected value="a">Tout</option>

            </select>
          
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" id="buttonfilter"type="submit">Filtrer</button>
            </div>
          </div>
        
          <div class="row projetsemp">

            <div id="emplacements-projets" class="emplacements-projets col-12">
              <div class="row" id="fetch-project-images">


              </div>
              

              {# La au clique sur l'apercu je declanche le chargement du projet correspondant sur le slider qui viens du bas #}

            </div>
            
          </div>
            <div class="row ">
            <div class="col-12 scrollalertzone" id="scrollalertx">
<svg version="1.1" id="scrollalert" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="255px" height="255px" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve">
<g>
	<g id="arrow-drop-down">
		<polygon points="0,63.75 127.5,130.25 255,63.75 		"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
              </div>
              </div>
        </div>
      </div>
      {# COUCHE DETAILS PROJET #}
      <div id="project-detail-layer" class="project-detail-layer">
        <img src="{{ asset('images/site/arrowdown.png') }}" id="close-details" class="close-details" height="4%" width="5%">
        <div class="container">
          <div class="row">
            <div class="col-12 tacenterz">
              <h2 class="project-title" id="project-title"></h2>
            </div>
          </div>
          
        <div class="detailsemp">
          <div class="row">
            <div class="col-12">
              <p class="full-desc-text" id="full-desc-text"></p>

            </div>
          </div>

          <div class="row">
            <div class="col-12 centerz">
              <img src="{{ asset('images/site/testimg.jpg') }}" id='fsimage' class="project-capture img-fluid" width="100%">
            </div>
          </div>
          <div class="row">
            <div class="col-12 centerz">
              <a id="github-link" href="">
                <button class="boutonDL btn btn-outline-success">Github</button>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-12 centerz">
              <a id="hosted-link" href="">
                <button class="boutonDL btn btn-outline-success">Site Web</button>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
      {# FIN COUCHE DETAILS PROJET #}

    </div>








  </div>
  {# FIN Couche PROJECTS #} 
  
  
  
  {# Couche SKILLS #}
  <div class="skills-layer" id="skills-layer">

    <div class="onglet-border" id="onglet-skills" onmouseover="" style="cursor: pointer">

      <img src="{{ asset('images/site/arrowleft.svg') }}" id="open-skills" class="open-skills" height="5%" width="5%">
      <img src="{{ asset('images/site/arrowright.svg') }}" id="close-skills" class="close-skills" height="5%" width="5%">
        <div class="nom-slot">
          <p class="slot-text"> COMPETENCES </p>
        </div>
      <img src="{{ asset('images/site/arrowright.svg') }}" id="close-skills-2" class="close-skills-2" height="5%" width="5%">
      <img src="{{ asset('images/site/arrowleft.svg') }}" id="open-skills-2" class="open-skills-2" height="5%" width="5%">
    </div>

    <div class="layer-content container">
      <div class="row">
        <div class="col-12 tacenterz">
          <h2> Compétences </h2>
        </div>
      </div>

      <div id="emplacements-comps" class="emplacements-comps col-12">

          
      
    </div>
    <div class="row ">
            <div class="col-12 scrollalertzone" id="scrollalertx">
<svg version="1.1" id="scrollalert2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="255px" height="255px" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve">
<g>
	<g id="arrow-drop-down">
		<polygon points="0,63.75 127.5,130.25 255,63.75 		"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
              </div>
              </div>
    </div>

  </div>
  {# FIN Couche SKILLS #}




</div>
{# FERMETURE TOTALITE DU MENU #}




{# FIN BLOCK MENU ET CONTENU #}
{% endblock %}
{% block footer%}
<div class="row">
  <div class="logo-links ">
    <div class="col-12 spot-btn">
     <a href="https://github.com/xF1owx"><img src="{{ asset('images/site/logos/github-logo.png') }}"  class="link-logo img-fluid" id="githublogo" onmouseover="" style="cursor: pointer"></a>


      <a href="https://fr.linkedin.com/in/florian-rouillier-383354ab"><img src="{{ asset('images/site/logos/linked-in-logo.png') }}" class="link-logo img-fluid" id="linkedinlogo" onmouseover=""
        style="cursor: pointer"></a>


      <a href="https://www.facebook.com/florian.rouillier.5"><img src="{{ asset('images/site/logos/fb-logo.png') }}" class="link-logo img-fluid" id="fblogo" onmouseover="" style="cursor: pointer"></a>
    </div>
  </div>
</div>


{% endblock %}